.watchCaculator {
  span {
    font-family: "dpWatch";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .result {
    width: 347px;
    height: 40px;
    border: 4px solid #092311;
    border-left: 15px solid #092311;
    border-right: 15px solid #092311;
    margin-top: 10px;
    margin-left: 7px;
    margin-bottom: 12px;
    overflow: hidden;
    span {
      display: block;
      transform: scale(1, 1.8);
      font-size: 26px;
      margin-top: 4px;
      letter-spacing: 10px;
      color: #518051;
      font-weight: bold;
      text-align: right;
      margin-right: 5px;
    }
  }
  .numbers {
    width: 192px;
    margin-left: 40px;
    float: left;
    .number {
      width: 51px;
      height: 45px;
      border: 4px solid #092311;
      float: left;
      margin-right: 5px;
    }
  }
  .has-color{
    color:#364f2e!important;
  }
  .sym {
    width: 128px;
    float: left;
    .clear {
      width: 115px;
      height: 45px;
      border: 4px solid #092311;
      float: left;
      margin-right: 5px;
      span{
        text-align: left;
        margin-left: 17px;
      }
    }
    .plus,
    .minus,
    .multy,
    .divide {
      width: 51px;
      height: 45px;
      border: 4px solid #092311;
      float: left;
      margin-right: 5px;
    }
  }
  .other {
    width: 347px;
    margin-left: 40px;
    .zero,
    .dengyu {
      width: 115px;
      height: 45px;
      border: 4px solid #092311;
      float: left;
      margin-right: 5px;
      span{
        text-align: left;
        margin-left: 17px;
      }
    }
    .dot {
      width: 51px;
      height: 45px;
      border: 4px solid #092311;
      float: left;
      margin-right: 5px;
    }
  }
  .btn {
    overflow: hidden;
    position: relative;
    margin-top: 5px;
    transition:all 0.02s;
    cursor: pointer;
    span {
      display: block;
      font-family: dpWatch;
      transform: scale(1, 1.2);
      font-weight: bold;
      color: #364f2e;
      font-size: 22px;
      margin-top: 9px;
    }
    div {
      width: calc(100% + 5px);
      position: absolute;
      height: 3px;
      background-color: #518051;
      bottom: 0;
      border-top: 3px solid #364f2e;
    }
  }
  .btn:hover{
    background-color: #639665;
  }
  .btn:active{
    background-color: #0a2311;
    color:#74af76;
  }
}
