<div class="watchCaculator">
    <div class="result"><span>*88888888888</span></div>
    <div class="numbers">
        <div class="number btn" v-for='number in numbers' key = "number"><div>{{number}}</div></div>
    </div>
    <div class="caozuo">
    <div class="sym">
        <div class="clear btn"><div>c</div></div>
        <div class="plus btn"><div>+</div></div>
        <div class="minus btn"><div>-</div></div>
        <div class="multy btn"><div>x</div></div>
        <div class="divide btn"><div>÷</div></div>
    </div>
    <div class="other">
        <div class="zero btn"><div>0</div></div>
        <div class="dot btn"><div>.</div></div>
        <div class="dengyu btn"><div>=</div></div>
    </div>
</div>
</div>