<div class="watchCaculator">
    <div class="result"><span>*88888888888</span></div>
    <div class="numbers">
        <div class="number btn" v-for='number in numbers' key = "number" @Click="chooseNumber"><span>{{number}}</span><div></div></div>
    </div>
    <div class="sym">
        <div class="clear btn"><span>c</span><div></div></div>
        <div class="plus btn"><span>+</span><div></div></div>
        <div class="minus btn"><span>-</span><div></div></div>
        <div class="multy btn"><span>x</span><div></div></div>
        <div class="divide btn"><span>÷</span><div></div></div>
    </div>
    <div class="other">
        <div class="zero btn"><span>0</span><div></div></div>
        <div class="dot btn"><span>.</span><div></div></div>
        <div class="dengyu btn"><span>=</span><div></div></div>
    </div>
</div>