.watchCaculator {
  span{
    font-family: "dpWatch";
    transform: scale(1, 2.7);
  }
  .result{
    width: 347px;
    height: 40px;
    border: 4px solid #092311;
    border-left: 15px solid #092311;
    border-right: 15px solid #092311;
    margin-top: 10px;
    margin-left: 7px;
  }
}
