<div class="watchCaculator">
    <div class="result"><span>*88888888888</span></div>
    <div class="numbers">
        <div class="number" v-for='number in numbers' key = "number">{{number}}</div>
    </div>
    <div class="sym">
        <div class="clear">c</div>
        <div class="plus">+</div>
        <div class="minus">-</div>
        <div class="multy">x</div>
        <div class="divide">÷</div>
    </div>
    <div class="other">
        <div class="zero">0</div>
        <div class="dot">.</div>
        <div class="dengyu">=</div>
    </div>
</div>