.watch-kokinggu {
  .coin {
    width: 100px;
    height: 80px;
    border: 5px solid #395426;
    margin: 180px auto;
    cursor: pointer;
  }
  .on-animation {
    animation: roll 1s linear 1;
  }
  @keyframes roll {
    0% {
      margin-top: 180px;
    }
    50% {
      margin-top: 30px;
    }
    100% {
      margin-top: 180px;
    }
  }
}
